
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

<a href="/Species/List">Back to list of Species</a>

<form method="POST" action="/Species/Add">

    <input type="text" name="SpeciesName" id="SpeciesName" />
    
    <input type="submit" value="Add Species">
</form>