@model PetGrooming.Models.Species
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<a href="/Species/List">Back To List</a>
<a href="/Species/Update/@Model.SpeciesID">Update</a>
<br/>
Name: @Model.Name